.section-appointment1 {
    text-align: center;
    padding-bottom: 30px;
    margin-top:-20px;
    margin-bottom:-80px;
  }
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #0062cc;
  }
  .section-appointment1 h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #08b162;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
  }
  
  .section-appointment1 h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
  }
  
  .section-appointment1 h3 span {
    color: #08b162;
  }
  
  .section-appointment1 p {
    margin: 15px auto 0 auto;
    font-weight: 600;
    
  }
.wrapper {
    padding: 30px 50px;
    border-radius: 15px;
    margin: 1px auto;
    max-width: 800px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  
}

h4 {
    letter-spacing: -1px;
    font-weight: 400;
}

label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px;
}

.form-control {
    border-radius: 10px;
}

input[placeholder] {
    font-weight: 500;
}

.form-control:focus {
    box-shadow: none;
    border: 1.5px solid #08b162
}

select {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px
}

select:focus {
    outline: none;
}

.button-prof {
    background-color: #fff;
    color: #08b162
}

.button-prof:hover {
    background-color: #08b162;
    color: #fff
}

.btn-primary {
    background-color: #08b162
}


@media(max-width:576px) {
    .wrapper {
        padding: 25px 20px;
    }

    .danger {
        margin-left: 0px;
    }
    .wrapper {
        margin: 0;
    }
}