body {
	font-family: "Montserrat", sans-serif;
	color: #444444;
  }
  
  a {
	color: #08b162;
	text-decoration: none;
  }
  
  a:hover {
	color: #3b8af2;
	text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
	font-family: "Poppins", sans-serif;
  }
  
  .back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #08b162;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
  }
  
  .back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
  }
  
  .back-to-top:hover {
	background: #08b162;
	color: #fff;
  }
  
  .back-to-top.active {
	visibility: visible;
	opacity: 1;
  }
  
  #topbar {
	background:#08b162;
	height: 45px;
	font-size: 14px;
	transition: all 0.5s;
	color: #fff;
	padding: 0;
  }
  
  #topbar .opening-hours i{
	color: #fff;
	font-style: normal;
  }
  #topbar .opening-hours span{
	color: #fff;
	padding-right: 5px;
	font-weight: 600;
  }
  
  #topbar .button .btn-logout{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 5px 5px;
	border-radius: 4px;
	transition: 0.5s;
	color: rgb(255, 255, 255);
	padding-right: 10px;
	padding-left: 10px;
	background: #ff1d4e;
  }
  
  #topbar .button .btn-logout:hover{
	background: #ff0037;
  }
  
  @media (max-width: 768px) {
	#topbar .opening-hours{
	  visibility:hidden;
	}
	#topbar .button {
	  margin-left: 60;
	}
  }
  
  #header {
	background: #fff;
	transition: all 0.5s;
	z-index: 997;
	height: 86px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #header.fixed-top {
	height: 70px;
  }
  
  #header .logo {
	font-size: 30px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 600;
	letter-spacing: 0.8px;
	font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
	color: #222222;
  }
  
  #header .logo a span {
	color: #08b162;
  }
  
  #header .logo img {
	max-height: 40px;
  }
  
  .scrolled-offset {
	margin-top: 88px;
  }
  
  .navbar {
	padding: 0;
  }
  
  .navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
  }
  
  .navbar li {
	position: relative;
  }
  
  .navbar > ul > li {
	white-space: nowrap;
	padding: 10px 0 10px 28px;
  }
  
  .navbar a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3px;
	font-size: 15px;
	font-weight: 600;
	color: #222222;
	white-space: nowrap;
	transition: 0.3s;
	position: relative;
  }
  
  .navbar a i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
  }
  
  .navbar > ul > li > a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -6px;
	left: 0;
	background-color: #08b162;
	visibility: hidden;
	width: 0px;
	transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
	visibility: visible;
	width: 100%;
  }
  
  .navbar a:hover, .navbar .active, .navbar li:hover > a {
	color: #08b162;
  }
  
  .navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 28px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
	min-width: 200px;
  }
  
  .navbar .dropdown ul a {
	padding: 10px 20px;
	font-weight: 400;
  }
  
  .navbar .dropdown ul a i {
	font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
	color: #08b162;
  }
  
  .navbar .dropdown:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
  }
  
  @media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
	  left: -90%;
	}
	.navbar .dropdown .dropdown:hover > ul {
	  left: -100%;
	}
  }
  
  .mobile-nav-toggle {
	color: #222222;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
	color: #fff;
  }
  
  @media (max-width: 991px) {
	.mobile-nav-toggle {
	  display: block;
	}
	.navbar ul {
	  display: none;
	}
  }
  
  .navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(9, 9, 9, 0.9);
	transition: 0.3s;
	z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
  }
  
  .navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
  }
  
  .navbar-mobile a {
	padding: 10px 20px;
	font-size: 15px;
	color: #222222;
  }
  
  .navbar-mobile > ul > li {
	padding: 0;
  }
  
  .navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
	visibility: hidden;
  }
  
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
	color: #08b162;
  }
  
  .navbar-mobile .getstarted {
	margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
	min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
	padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
	font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
	color: #08b162;
  }
  
  .navbar-mobile .dropdown > .dropdown-active {
	display: block;
  }
  
  #appointment {
	width: 100%;
	background-size: cover;
	position: relative;
  }
  
  #appointment h1{
	margin: 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	color: #222222;
	font-family: "Poppins", sans-serif;
	letter-spacing: 2px;
  }
  
  #home {
	width: 100%;
	height: 86.5vh;
	
	
  }
  
  #profile {
	width: 100%;
	background-size: cover;
	position: relative;
  }
  .breadcrumb{
	background: transparent;
  }
 
  
 
  
  #home h1 {
	margin: 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	color: #222222;
	font-family: "Poppins", sans-serif;
	letter-spacing: 2px;
  }
  
  #home h1 span {
	color: #08b162;
  }
  
  #home h2 {
	color: #555555;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 300;
  }
  
  #home .btn-appoint {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 28px;
	border-radius: 4px;
	transition: 0.5s;
	color: #fff;
	background: #2a86ff;
  }
  
  #home .btn-appoint:hover {
	background: #005dd8;
  }
  
  @media (min-width: 1024px) {
	#home {
	  background-attachment: fixed;
	}
  }
  
  @media (max-width: 768px) {
	#home {
	  height: 100vh;
	}
	#home h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
	#home h2 {
	  font-size: 18px;
	  line-height: 24px;
	  margin-bottom: 30px;
	}
  }
  
  @media (max-height: 500px) {
	#home {
	  height: 120vh;
	}
  }
  
  section {
	overflow: hidden;
  }
  
  .section-bg {
	background-color: #f6f9fe;
  }
  
  .section-title {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
  }
  
  .section-title h2 {
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 700;
	padding: 8px 20px;
	margin: 0;
	background: #e7f1fd;
	color: #08b162;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 50px;
  }
  
  .section-title h3 {
	margin: 15px 0 0 0;
	font-size: 32px;
	font-weight: 700;
  }
  
  .section-title h3 span {
	color: #08b162;
  }
  
  .section-title p {
	margin: 15px auto 0 auto;
	font-weight: 600;
  }
  
  .section-appointment {
	text-align: center;
	padding-bottom: 30px;
	margin-top:-20px;
  }
  
  .section-appointment h2 {
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 700;
	padding: 8px 20px;
	margin: 0;
	background: #e7f1fd;
	color: #08b162;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 50px;
  }
  
  .section-appointment h3 {
	margin: 15px 0 0 0;
	font-size: 32px;
	font-weight: 700;
  }
  
  .section-appointment h3 span {
	color: #007bff;
  }
  
  .section-appointment p {
	margin: 15px auto 0 auto;
	font-weight: 600;
  }
  
  input {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
	color:#ff1d4e;
  }
  
  .btn-appoint {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 28px;
	border-radius: 4px;
	transition: 0.5s;
	color: #fff;
	background: #2a86ff;
  }
  
  .btn-appoint:hover {
	background: #005dd8;
	color: #fff;
  }
  input[type="submit"] {
	background-color: #007bff;
	color: #fff;
	border-radius: 4px;
	padding: 8px 16px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
	background-color: #0062cc;
  }
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}




#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}





#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
	width: 500px;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
	width: 400px;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;

}
/*main table*/
#content main .table-data .order .hader-table thead tr th {
	margin :10px;
	

}
/*Doctor*/
#content main .table-data .Doctor {
	flex-grow: 1;
	flex-basis: 500px;
	
}
#content main .table-data .Doctor .todo {
	flex-grow: 1;
	flex-basis: 300px;
	
}


#content main .table-data .Doctor .todo .todo-list li:last-child {
	margin-bottom: 0;
}

/*end doctor*/

/*TO do list*/


.inputdoc {
	margin-bottom: 20px;
  }
  
  .inputdoc input[type="text"],
  .inputdoc input[type="email"],
  .inputdoc input[type="password"],
  .inputdoc input[type="submit"] {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	color: #333333;
	background-color: #ffffff;
	outline: none;
  }
  
  .inputdoc input[type="text"],
  .inputdoc input[type="email"],
  .inputdoc input[type="password"],
  .inputdoc input[type="file"] {
	height: 40px;
  }
  
  .inputdoc input[type="submit"] {
	height: 50px;
	background-color: var(--blue);
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  .inputdoc input[type="file"] {
	border: none;
	background-color: #f1f1f1;
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	height: auto;
  }
  
  .inputdoc input[type="file"]:hover {
	cursor: pointer;
	background-color: #e6e6e6;
  }
  
  .inputdoc input[type="file"]::-webkit-file-upload-button {
	background-color:var(--blue);
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
  }
  
  .inputdoc input[type="file"]::-moz-file-upload-button {
	background-color: var(--blue);
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
  }
  
  .inputdoc input[type="file"]::-ms-browse {
	background-color:var(--blue);
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 15px;
  }
  
  
  .inputdoc input[type="submit"]:hover {
	background-color: #3e8e41;
  }
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* MAIN */
/* CONTENT */









@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}